@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  background: #faf9f9;
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-size: 0.9em;
}

nav {
  background: rgba($color: #000000, $alpha: 0.8);
  backdrop-filter: blur(20px, 20px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .container {
    max-width: 600px;
    margin: 0 auto;
    // background: red;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1em auto;
      li {
          display: inline;
        a {
          color: #ffffff;
          text-decoration: none;
          padding: 1em 3em;
          font-size: 1em;
        }
      }
    }
  }
}
