<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>416063094826-g17eaje9ftk20ufeevbt7mpe34n922u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416063094826-g17eaje9ftk20ufeevbt7mpe34n922u5</string>
	<key>API_KEY</key>
	<string>AIzaSyB0SwLJB1Wz7syd_kL9YD6KovJBP25nx48</string>
	<key>GCM_SENDER_ID</key>
	<string>416063094826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.f303.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-3cbef</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-3cbef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416063094826:ios:8e1ffd82b65b1e67bfc353</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-3cbef.firebaseio.com</string>
</dict>
</plist>