/************************TAG SELECTORS************************/

h1 {
  color: red;
  font-size: 200px;
}

img:hover {
    background-color: gold;
}

/************************CLASS SELECTORS************************/
.bacon {
    background-color: green;
}

.brccli {
    background-color: red;
}



/************************ID SELECTORS************************/

#heading {
    color: blue;
}
