<%- include("header") -%>
<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nesciunt ut facilis nisi consequatur aliquid, ab asperiores delectus, id, commodi cum beatae unde quibusdam eos tempore culpa placeat dolorum deserunt.</p>
<%- include("footer") -%>